#!/bin/sh

# Launch background apps
picom &                   
pipewire &                
$HOME/.fehbg &            
redshift-gtk &

# Set GNOME settings (requires DBus environment)
export $(dbus-launch)
gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
gsettings set org.gnome.desktop.interface icon-theme 'Adwaita'
gsettings set org.gnome.desktop.interface font-name 'monospace 11'

# Set screen lock settings (with i3lock)
# Blank screen after 5 mins (300 sec), fade after 5 sec
xset s 300 5      
# DPMS off after 10 mins
xset dpms 600 600 600  
