* {
   border: none;
   border-radius: 0;
   min-height: 0;
   margin: 0;
   padding: 0;
   font-family: "Iosevka Nerd Font", sans-serif;
   font-size: 13px;
}

#waybar {
   background: rgba(11, 14, 20, 0.3);
   color: #dddddd;
}

/* Module spacing */
#battery, #cpu, #memory, #network, #pulseaudio {
   padding: 0 10px;
   margin: 0 5px;
   background: #3c5273;
}

#clock, #tray {
   padding: 0 10px;
   background: rgba(48, 82, 115, 0.3);
}

/* States */
.warning {
   color: #f7768e;
}

.critical {
   color: #db4b4b;
}

/* Workspaces */
#workspaces button {
   padding: 0 10px;
   color: #A9B1D6;
}

#workspaces button.focused {
   color: #ffffff;
   background: #3c5273;
}

#workspaces button.urgent {
   color: #f7768e;
}

/* Tooltips */
tooltip {
   background: #1a1b26;
   border: 1px solid #1f2335;
}

tooltip label {
   color: #ffffff;
}
